<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Your Island
            </div>
            <div class="card-body">
              <div class="card-text">
                <div class="alert alert-success" role="alert" style="display: none">
                  <span id="alertMessage"></span>
                  <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id="islandForm">
                  <% if(!user_id) { %>
                    <%- include('partials/island/noIsland') %>
                  <% }
                  else if(hasIsland) { %>
                    <%- include('partials/island/updateIsland') %>
                  <% }
                  else { %> 
                    <%- include('partials/island/createIsland') %>
                  <% } %>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/scripts') %>
    <script src="js/island.js"></script>
  </body>
</html>